section.about{
    height: 250px;
    background-color: #030303;
    /*background-color: #0d1c1c;*/
    /*background-color: #03221f;*/
    padding: 10px 30px;
    filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(2px);
}

section.about:hover{
    filter: none;
    transition: filter 100ms linear, transform 100ms linear ;
    
}

.about__title{
    font-weight: bold;
    margin: 15px 0;
    color: #6ACFC7;
}

.about__paragraph{
    font-size: 12px;
    margin-bottom: 10px;
    color: #6ACFC7;
    /*color: #0C1A1A;*/
}

.about__container img {
    margin: 15px 0 50px 0;
}

@media (min-width:768px) {
    section.about{
        height: 220px;
    }

    .about__title{
        font-size: 25px;
    }
}

@media (min-width:1024px){

}

@media (min-width: 1440px){
    section.about{
        height: 330px;
    }

    .about__container{
        width: 60%;
        margin-left: 130px;
        
    }

    .about__title{

    }

    .about__paragraph{
        font-size: 20px;
        margin-bottom: 20px;
    }

}

