section.experience{
    display: block;
    height: 100%;
    width: 100%;
    padding: 30px 40px;
    /*background-color: #0d1c1c;*/
    background-color: #030303;
    filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(2px);
}

section.experience:hover{
    filter: none;
    transition: filter 100ms linear, transform 100ms linear ;  
}

.experience__section__title{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 20px 0;
}

.experience__box{
    display: block;
    height: 320px;
}

.experience__img{
    display: flex;
    justify-content: center;
    /*box-shadow: 7px 0px 25px rgba(0, 0, 0, 20%);*/
    border-radius: 20px;
    height: 150px;
    width: 350px;
    filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(2px);
}

.experience__img:hover{
    filter: none;
    transition: filter 200ms linear, transform 200ms linear ;
    box-shadow: 2px 0px 15px rgba(124, 238, 207, 0.708);
}

.experience__info{
    height: 50px;
}

.experience__title{
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

.experience__text{
    margin-top: 10px;
}

.experience__description{
    margin-top: 10px;
}

.experience__repo button{
    height: 35px;
    width: 100px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    color: #6ACFC7;
    background-color: inherit;
    border: 1.5px solid;
    border-radius: 5px;
}

.experience__repo button:hover{
    transform: scale(1.1);
    /*box-shadow: 7px 7px 15px rgba(0, 0, 0, 10%);*/
    box-shadow: 2px 0px 15px rgba(124, 238, 207, 0.708);
}

.experience__demo button{
    height: 35px;
    width: 100px;
    margin-left: 15px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    color: #6ACFC7;
    background: inherit;
    /*background-color: rgb(46, 125, 227);*/
    border: 1.5px solid;
    border-radius: 5px;
    /*border-color: rgb(46, 125, 227);*/
}

.experience__demo button:hover{
    transform: scale(1.1);
    /*box-shadow: 7px 7px 15px rgba(0, 0, 0, 10%);*/
    box-shadow: 2px 0px 15px rgba(124, 238, 207, 0.708);
}

@media (min-width:768px){
    section.experience{
        padding: 15px 40px;
    }

    .experience__box{
        height: 420px;
        width: 800px;
    }
    .experience__img{
        height: 300px;
        width: 84%;
    }

    .experience__info{
        height: 50px;
    }
}
@media (min-width:1440px){
    section.experience{
        
    }
    .experience__section__title{
        margin-bottom: 0;
    }

    .experience__box{
        display: flex;
        width: 80%;
        height: 450px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .experience__img{
        height: 400px;
        width: 715px;
        margin-left: 110px;
    }

    .experience__info{
        height: 100px;
        margin-left: 0;
    }

    .experience__description{
        margin-top: 10px;
    }
}
