section.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
    background-color: #0C1A1A;
}

.menu__header{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--highlight-color);
}

.logo__img{
    height: 22px;
}

.menu__list{
    display: none;
}

.menu__list li a {
    /*color: #464646;*/
    color: #6ACFC7;
}

.menu__list li a:hover{
    border-radius: 7px;
    box-shadow: 0px -30px 15px rgba(124, 238, 208, 0.123);
}

.menu__list__item__contato:hover{
    border-radius: 7px;
    box-shadow: 0px -30px 15px rgba(124, 238, 208, 0.123);
  }

@media (min-width: 1440px){
    .menu__header{
        padding: 20px 20px;
    }

    .menu_title{
        font-size: 20px;
    }

    
    .logo__img{ 
        
    }
      
    .menu__list{
        display: flex;
        flex-direction: row;
        font-size: 20px;
        gap: 25px;
    }
    
    .menu__list__item__contato {
        display: none;
    }
}