section.skills{
    display: block;
    height: 100%;
    width: 100%;
    padding: 30px 0;
    /*background-color: #e6eaea;*/
    background-color: #0C1A1A;
    filter: brightness(0.5) saturate(0.5) contrast(1.2) blur(2px);
}

section.skills:hover{
    filter: none;
    transition: filter 100ms linear, transform 100ms linear ;

}

.skills__title{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0;
}

.skills__line{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 20px;
}

.skills__box{
    display: flex;
    /*background: white;*/
    background-color: #022323;
    
    height: 130px;
    width: 175px;
    /*box-shadow: 7px 7px 15px rgba(0, 0, 0, 5%);*/
    box-shadow: 2px 0px 15px rgba(124, 238, 207, 0.708);
    border-radius: 20px;
}

.skills__box ul{
    display: flex;
    flex-flow: wrap;
    align-items: flex-end;
    width: 100%;
}

.skills__img{
    display: flex;
    margin: 30px 20px 0px 15px;
    height: 30px;
    width: 30px;
}

.skills__name{
    display: flex;
    font-weight: bold;
    font-size: auto;
    width: 100%;
    margin: 0px 15px 20px 15px;
}

@media(min-width:768px){
    section.skills{
        height: 100%; 
    }
    
    .skills__line{
        gap: 25px;
    }
    
    .skills__box{
        height: 150px;
        width: 200px; 
    }

    .skills__img{
        margin: 70px 40px 0 15px;
        height: 40px;
        width: 40px;
    }
    
    .skills__name{
        margin: 15px 15px;
    }
}

@media (min-width:1023px){
    section.skills{
        height: 100%;
        
    }
}

@media(min-width:1440px){
    section.skills{
        width: 100%;
        height: 100%;
    }

    .skills__title{
        font-size: 25px;
        margin: 20px 0;
    }

    .skills__line{
        flex-flow: wrap;
        gap: 15px;
        
    }
    
    .skills__box{
        height: 150px;
        width: 250px;
    }

    .skills__box ul{
        width: 90%;
    }

    .skills__img{
        margin: 80px 15px 0px 15px;
        height: 30px;
        width: 30px;
    }
    
    .skills__name{
        font-size: 20px;
        margin: 0px 15px 10px 15px;
    }

}